[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
sklearn = "*"
vadersentiment = "*"
textstat = "*"
nltk = "*"
pandas = "*"
youtube-dl = "*"
pycaption = "*"
requests = "*"
tables = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
tensorflow = "==1.9"
unidecode = "*"
gensim = "*"
pydot = "*"

[dev-packages]
keras-tqdm = "*"
selenium = "*"
jupyter = "*"
xlrd = "*"
openpyxl = "*"
glove-python = "*"

[requires]
python_version = "3.6"
